.main-container{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    
}
.container{
    background-color: aqua;
    border: 1px solid black;
}